DEBUG=1
SECRET_KEY=django-insecure-l$+nj9ftwf^mt(mn&m3bbyyx@uwp5squ#bs7f#0-drafqeuo=3
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=sellcord
SQL_USER=sellcord_user
SQL_PASSWORD=mfD5JxeEuBvFX72
SQL_HOST=db
SQL_PORT=5432
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Test1234